@model ShoeStore.ModelViews.ChangePasswordViewModel
<div class="main">
    <!-- Sing in  Form -->
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure>
                        <img src="images/forgot-pass.jpg" alt="sing up image" />
                    </figure>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Change Password</h2>

                    <form asp-action="ChangePassword" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group">
                            <input asp-for="CurrentPassword" class="form-control" placeholder="CurrentPassword" />
                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="NewPassword" class="form-control" placeholder="NewPassword" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Change Password</button>
                    </form>
                    <a href="/dashboard.html" class="signup-image-link">Back To DashBoard</a>

                </div>
            </div>
        </div>
    </section>
</div>

