@model ShoeStore.Models.User

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <h2 class="text-center pt-3">Thông Tin Tài Khoản</h2>

    <div class="mt-2 mb-2 btn btn-success">
        <a class="text-white text-decoration-none" asp-action="Index">Back to List</a>
    </div>

    <hr />
    <div class="table-responsive">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="col-sm-2"><label asp-for="EnCryPass" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="EnCryPass" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="Phone" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="Phone" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="Email" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="Email" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="Active" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="Active" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="FullName" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="FullName" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="LastLogin" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="LastLogin" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="CreateDay" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="CreateDay" class="form-control" readonly /></td>
                </tr>
                <tr>
                    <th class="col-sm-2"><label asp-for="Role.RoleId" class="control-label"></label></th>
                    <td class="col-sm-10"><input asp-for="Role.RoleId" class="form-control" readonly /></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
