@model ShoeStore.Models.Size

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<hr />
<div class="container-fluid">
    <div class="mt-5 text-dark">
        <h2 class="text-center">Create Size</h2>
    </div>

    <div class="btn btn-success mb-5">
        <a class="text-white text-decoration-none" asp-action="Index">Back to List</a>
    </div>

    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="SizeName" class="control-label"></label>
                    <input asp-for="SizeName" class="form-control" />
                    <span asp-validation-for="SizeName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SizeDescription" class="control-label"></label>
                    <input asp-for="SizeDescription" class="form-control" />
                    <span asp-validation-for="SizeDescription" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>
</div>