@model ShoeStore.Models.Size

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">

    <h2 class="text-center pt-5">Thông Tin Size</h2>

    <div class="mt-2 mb-2 btn btn-success">
        <a class="text-white text-decoration-none" asp-action="Index">Back to List</a>
    </div>
    <hr />

    <div class="row">
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SizeName)</th>
                    <td>@Html.DisplayFor(model => model.SizeName)</td>
                </tr>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.SizeDescription)</th>
                    <td>@Html.DisplayFor(model => model.SizeDescription)</td>
                </tr>
                <!-- Add other properties as needed -->
            </tbody>
        </table>
    </div>
</div>

