<div class="">
    <div class="footer-menu-list">
        <div class="row d-flex flex-wrap justify-content-between mt-5">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu text-center">
                    <img style="width: 100px; height: 100px"
                         src="~/feassets/images/logo-mini.png"
                         alt="" />
                    <h3 class="widget-title">THÔNG TIN LIÊN HỆ</h3>
                    <ul class="menu-list list-unstyled">
                        <a href="#" class="email">cskh.MetalShoes.vn@gmail.com</a>
                        <p>
                            HotLine:
                            <strong>+84 937 05 1131</strong>
                        </p>
                        <li class="menu-item">
                            <a href="about.html">https://MeTalShoes.vn</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">https://twitter.com/MetaShoes</a>
                        </li>
                        <li class="menu-item">
                            <a href="blog.html">https://facebook.com/pg/www.MeTalShoes.vn</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">HỖ TRỢ KHÁCH HÀNG</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item">
                            <a href="faqs.html">Chăm sóc khách hàng </a>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html"> Thanh toán</a>
                        </li>
                        <li class="menu-item">
                            <a href="#"> Hướng dẫn mua hàng</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">CHÍNH SÁCH</h5>
                    <ul class="menu-list list-unstyled">
                        <li class="menu-item">
                            <a href="#">Chế độ bảo hành </a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Chính sách đổi hàng</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Bảo mật thông tin</a>
                        </li>
                        <li class="menu-item">
                            <a href="#">Chính sách giao nhận</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer-menu">
                    <h5 class="widget-title">FANPAGE</h5>
                    <!-- <a
                      href="https://www.facebook.com/hutechuniversity?ref=embed_page"
                      target="_blank"
                    ></a> -->
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fhutechuniversity%3Fref%3Dembed_page&tabs=timeline&width=340&height=331&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2382458428564475"
                            width="340"
                            height="331"
                            style="border: none; overflow: hidden"
                            scrolling="no"
                            frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                    <div class="social-links">
                        <ul class="d-flex list-unstyled">
                            <li>
                                <a href="#">
                                    <i class="icon icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-youtube-play"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="icon icon-behance-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />